body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: table;
    width: 100%;
}

.header {
    padding: 40px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 75%;
    left: 25%;
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 75px;
}

.h1, .static, .fixed {
    position: static;
}

h2 {
    margin: auto;
    padding: 50px 0;
    text-align: center;
}

p {
    margin: auto;
    padding: 0 30px;
    text-align: center;
}

.h3 {
    margin: auto;
    padding: 30px 0;
    text-align: left;
}

/* Email & Phone Number text */
h4 {
    margin: auto;
    padding: 20px 0;
    text-align: center;
}
.podcast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;}

.podcast-item {
    width: 300px;
    text-align: center;
}
.section-2, h2 {
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

.section-4, p {
    padding: 10px;
    text-align: center;
    color: antiquewhite;
}

.section-5, p, h3 {
    padding: 20px;
    bottom: 30px;
    text-align: left;
}

.article {
    padding: 20px;
    text-align: center;
}

/* Call to Action content */
.content {
    padding: 70px 30px;
    background-color: whitesmoke;
    text-align: center;
}

.call-to-action {
    padding: 20px 0;
    width: 10%;
    margin: 30px auto 0;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.call-to-action:hover {
    filter: brightness(1.1);
}

/* Footer */
.footer {
    padding: 15px;
    text-align: center;
    color: whitesmoke;
}

/* Our Mission background color */
.color-1 {
    background-color: #52796F;
    color: whitesmoke;
}

/* First Section background Color */
.color-2 {
    background-color: #354F52;
    color: white;
}

/* Welcome to Our Website  text color */
.color-3 {
    color: #2F3E46;
}

/* Explore More Button */
.color-4 {
    background-color: #2F3E46;
    color: white;
}

/* Footer Color */
.color-5 {
    background-color: #84a98c;
    color: black;
}